@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

header {
  padding: 20px 0px;
  padding-left: 10px;
}

header .logo {
  width: 150px;
}

.recommend-title {
  padding-left: 10px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 600;
  color: rgb(82 82 82);
}

.tab-bar {
  width: 20%;
  padding-left: 10px;
}

.tab-bar .tab-bar-item {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  color: rgb(99, 99, 99);
  font-size: 16px;
  font-weight: 500;
  transition: background-color ease 0.3s;
  cursor: pointer;
}

.tab-bar-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-bar .tab-bar-item:hover {
  background-color: rgb(207, 221, 237);
  color: rgb(25, 65, 164);
}

.tab-bar .tab-bar-item.active {
  background-color: rgb(207, 221, 237);
  color: rgb(25, 65, 164);
}

.products-tab {
  display: flex;
}

.product-card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.product-card .product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #dddd;
  border-radius: 5px;
}

.product-card .product-title {
  font-size: 12px;
  font-weight: 600;
  padding: 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 24px;
}

.product-card .price {
  margin-top: 20px;
  background-color: #f0f0f0;
  color: rgb(82 82 82);
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.product-card .shipping {
  display: flex;
  align-items: center;
  padding: 10px;
}

.product-card .shipping img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.product-card .shipping span {
  height: 10px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(99, 99, 99);
}

.product-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(50, 50, 255);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.splide__arrow {
  background-color: white;
  opacity: 1;
  border: 1px solid #ddd;
  top: 30%;
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 20px 0px;
  }

  .products-tab {
    flex-direction: column;
  }

  .tab-bar {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }

  .tab-bar::-webkit-scrollbar,
  .products::-webkit-scrollbar {
    display: none;
  }

  .tab-bar .tab-bar-item {
    white-space: nowrap;
    border-bottom: 2px solid rgb(226, 219, 219);
    border-radius: 0px;
    margin-bottom: 20px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0px 10px;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 150px;
  }

  .tab-bar .tab-bar-item.active {
    border-bottom: none;
  }

  .products {
    width: 100%;
    margin-left: 5px;
  }

  .recommend-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .product-card .product-title {
    font-size: 10px;
  }

  .product-card .price {
    font-size: 16px;
    margin-top: 15px;
  }

  .product-card .shipping img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .product-card .shipping span {
    font-size: 10px;
  }

  .product-card button {
    font-size: 14px;
  }
}
